@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  background-color: #fff;
  padding: 0px;
  font: 17px/1.7 "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  margin: 0;
}
